/* Basic styling */

#mainWrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#panel {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px dashed #ddd;
    height: 50px;
}

#panel button[disabled] {
    cursor: not-allowed;
}

#gameWrapper {
    width: 100%;
    flex-grow: 1;
    display: flex;
}

#gameBoard {
    background: #eee;
    display: none;
}

#ball, #hole {
    display: none;
}