/* Simple CSS Reset */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.m-bot {
    margin-bottom: 20px !important;
}
.m-top {
    margin-top: 20px !important;
}

/* Basic styling */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
}

#startScreen {
    background: #fff;
    width: 500px;
    border: 1px solid #ccc;
    padding: 2rem;
}

h4 {
    color: #777;
    margin-bottom: 20px;
}

.form-label {
    font-weight: 700;
}

#mapWrapper {
    background: rgba(255,255,255, .3);
    padding: 10px;
    border: 1px solid #eee;
    display: none;
}

#map {
    width: 90vw;
    height: 90vh;
    display: none;
}

.my-custom-class-for-label {
    width: 100px; height: 20px;
    
    border: 1px solid #eb3a44;
    border-radius: 5px;
    
    background: #fee1d7;
    color: #eb3a44;
    text-align: center;
    line-height: 20px;
    
    font-weight: bold;
    font-size: 14px;
}

.connectionMsg {
    line-height: 1em;
}

